body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #53cf53;
}

#homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/images/cinema.jpg);
  background-repeat: no-repeat;
}